version: '3.8'
services:
  web:
    image: node:18-alpine
    container_name: my-lab-dev
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"